:root
{
    --green: #07c40d;
    --emerald : #09f311 ;
    --black : #000080;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --emeraldCard: #046307;
    --boxShadow: -79px 51px 60px rgba(32, 126, 40, 0.137);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

button{
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px;
    background: linear-gradient(180deg, #000080 26.71%, #09f3117a 99.36%);
    box-shadow: 0px 2px 5px 1px #046307;
}

button:hover{
    background: white;
    color: var(--emerald);
    cursor: pointer;
    border: 1px solid var(--emerald);
}


  

  